<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/bulma.css" type="text/css" />
		<title>MealUp</title>
	</head>
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1>MealUP</h1>
    </div>
  </nav>

	<body>
		{{{ body }}}
	</body>

	<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Put A Futter Copywrite Us
      </p>
      <p>
        <a class="icon" href="https://github.com/jgthms/bulma">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
</html>
